<html>
<meta http-equiv="refresh" content=30>
<head>
    <title>
        DemoIAFF
    </title>
    <link href={{url_for('static', filename="index.css" )}} rel="stylesheet" type="text/css">

</head>

<body>

<div class="side">

    <div class="quarter">
        <div class="imagecontainer">
            <img src="{{url_for('static', filename='img.jpg' )}}", width="100%" , height="100%">
        </div>
    </div>

    <div class="quarter">
        <div class="resultcontainer">
            <p>
                {{expected_result}}
            </p>
        </div>

    </div>
</div>

<div class="side">

    <div class="quarter">
        <div class="predictioncontainer">
            <ul>
                {% for (name, percentage) in predictions %}
                <li>
                    <div class="name">
                        {{ name }}
                    </div>

                    <div class="prediction">
                        {{ percentage }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="quarter">
        <div class="imagecontainer">
            <img src="{{url_for('static', filename='matrix.jpg' )}}", width="100%" , height="100%">
        </div>
    </div>

</div>

</body>

</html>
